<!-- 分配商机 模态框 -->
<div class="modal fade" id="opportunityClaim" tabindex="-1" role="dialog" aria-labelledby="opportunityClaim" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<header class="panel-heading">
				<span class="panel-heading-tit">认领商机</span>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</header>
			<div class="modal-body">
				<div class="form-body">
					<div class="form-horizontal">
						<!-- 公共部分 -->
						<div class="claim-w">
							<div class="form-group">
								<label class="control-label col-md-4">客户名称：</label>
								<div id="clientName" class="col-md-6 form-control-static"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-4">联系人：</label>
								<div id="contactName" class="col-md-6 form-control-static"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-4">客户ID：</label>
								<div id="clientID" class="col-md-6 form-control-static"></div>
							</div>
							<div class="form-group">
								<label class="control-label col-md-4">联系电话：</label>
								<div id="contactTel" class="col-md-6 form-control-static"></div>
							</div>	
						</div>
						<!-- 分配商机 分配至-->
						<div class="form-group distribute-detail">
							<label class="control-label col-md-4">分配至：</label>
							<div class="col-md-6">
								<input class="form-control form-control-l" maxlength="20" type="text" name="userCrmId">
							</div>
						</div>
						<!-- 放弃跟进 放弃原因-->
						<div class="form-group drop-detail">
							<label class="control-label col-md-4">放弃原因：</label>
							<div class="col-md-6">
							<div class="icheck">
								<textarea name="dropReason" cols="40" rows="5"></textarea>
							</div>
							</div>
						</div>
						<form id="" method="" role="">
							<div class="form-group">
								<div class="col-md-4 col-md-offset-2">
									<button type="submit" id="btnSubmit" class="btn btn-info" style="width: 100px;">确认</button>
								</div>
								<div class="col-md-4 col-md-offset-1">
									<button  id="btnCancel" class="btn btn-info" style="width: 100px;" data-dismiss="modal">返回</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% block css %}

<style type="text/css">
.hide{
	display: none;
}
</style>
{% endblock %}