{% extends 'layout/layoutLogin.html' %}

{% block body %}
<div class="banner swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide" style="background-image: url(/img/banner/1.jpg);">
			<b>What's this?</b>
		</div>
		<div class="swiper-slide" style="background-image: url(/img/banner/2.jpg);">
			<b>What's this?</b>
		</div>
		<div class="swiper-slide" style="background-image: url(/img/banner/3.jpg);">
			<b>What's this?</b>
		</div>
		<div class="swiper-slide" style="background-image: url(/img/banner/4.jpg);">
			<b>What's this?</b>
		</div>
		<div class="swiper-slide" style="background-image: url(/img/banner/5.jpg);">
			<b>What's this?</b>
		</div>
		<div class="swiper-slide" style="background-image: url(/img/banner/6.jpg);">
			<b>What's this?</b>
		</div>
	</div>
</div>
<div class="main">
	<a class="logo">
		<img width="32" src="/img/img-logo.png">
		<span>CMS</span>
	</a>
	<form id="formLogin" class="form-login" method="post">
		<p><input type="text" name="loginname" class="fm-text fm-ln" placeholder="user"></p>
		<p><input type="password" name="password" class="fm-text fm-ln" placeholder="password"></p>
		<p><input type="submit" name="submit" value="登录" class="fm-btn"></p>
	</form>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="/js/util/swiper/swiper.css">
{% endblock %}

{% block js %}
<script src="/js/lib/jquery.js"></script>
<script src="/js/util/swiper/swiper.js"></script>
<script>
(function($) {
	"use strict";

	var message = '[[message]]';

	var INDEX = {
		init: function(me) {
			me.$btnSubmit = $('[name=submit]');
			me.$name = $('[name=loginname]');
			me.$password = $('[name=password]');
			me.$form = $('#formLogin');
			me.$banner = $('.banner li');

			me.swiper(me);
			me.bindEvent(me);

			if (message) {
				alert(message);
				location.href = '/reg';
			}
		},
		bindEvent: function(me) {
			me.$btnSubmit.on('click', function() {
				var nameVal = me.$name.val().trim();
				var passVal = me.$password.val().trim();
				if (!nameVal || !passVal) {
					alert('信息填写不完整!');
					return false;
				}
			});
		},
		swiper: function() {
			var imgSwiper = new Swiper($('.banner')[0], {
				autoplay: 5000,
				speed: 1000,
				loop: true,
				effect: 'fade'
			});
		}
	};
	INDEX.init(INDEX);
})(jQuery);
</script>
{% endblock %}