<div class="box box-solid">
	<div class="box-header with-border">
		<h3 class="box-title">用户信息</h3>
	</div>
	
	<div class="box-body box-profile">
		<img class="profile-user-img img-responsive img-circle" v-bind:src="user.avatar" alt="用户头像">

		<h3 class="profile-username text-center" v-html="user.loginname"></h3>

		<p class="text-muted text-center" v-html="user.levelName"></p>

		<ul class="list-group list-group-unbordered">
			<li class="list-group-item">
				<b>图片推荐位</b> <a class="pull-right">1,322</a>
			</li>
			<li class="list-group-item">
				<b>文字推荐位</b> <a class="pull-right">543</a>
			</li>
			<li class="list-group-item">
				<b>落地页</b> <a class="pull-right">13,287</a>
			</li>
		</ul>
	</div>
</div>