<script>
if (document.cookie.indexOf('sideStatus=1') > -1) document.querySelector('body').className = 'left-side-collapsed';
</script>
<div class="left-side">
	<!-- logo start -->
	<a class="logo" href="/"></a>
	<!-- logo end -->

	<div class="left-side-inner">
		<!-- sidebar-nav start -->
		<div class="nav custom-nav">
			{% for dl in listMenu %}
			{% if dl.displayFlg %}
			<dl>
				<dt><a><i class="icon-{{dl.icon}}"></i><span>{{dl.menuName}}</span></a></dt>
				<dd data-title="{{dl.menuName}}">
					{% for dd in dl.childMenu %}
					{% if dd.displayFlg %}<a href="{{dd.href}}">{{dd.menuName}}</a>{% endif %}
					{% endfor %}
				</dd>
			</dl>
			{% endif %}
			{% endfor %}
		</div>
		<!-- sidebar-nav end -->
	</div>
</div>