<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img v-bind:src="user.avatar" class="img-circle" alt="用户头像">
			</div>
			<div class="pull-left info">
				<p v-html="user.loginname"></p>
				<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<!-- 总体数据 start -->
			<li class="header">总体数据</li>
			<li><a href="/"><i class="fa fa-book"></i> <span>总体数据</span></a></li>
			<!-- 总体数据 end -->

			<!-- 用户管理 start -->
			<li class="header">用户管理</li>
			<li>
				<a href="/user">
					<i class="fa fa-user"></i> <span>用户管理</span>
				</a>
			</li>
			<li>
				<a href="/permit">
					<i class="fa fa-sitemap"></i> <span>权限管理</span>
				</a>
			</li>
			<!-- 用户管理 end -->

			<!-- 推荐位管理 start -->
			<li class="header">推荐位管理</li>
			<li>
				<a href="../widgets.html">
					<i class="fa fa-photo"></i> <span>图片推荐位</span>
				</a>
			</li>
			<li>
				<a href="../widgets.html">
					<i class="fa fa-font"></i> <span>文字推荐位</span>
				</a>
			</li>
			<!-- 推荐位管理 end -->

			<!-- 页面管理 start -->
			<li class="header">页面管理</li>
			<li>
				<a href="../widgets.html">
					<i class="fa fa-th"></i> <span>模板管理</span>
				</a>
			</li>
			<li>
				<a href="../widgets.html">
					<i class="fa fa-file-code-o"></i> <span>页面管理</span>
				</a>
			</li>
			<!-- 页面管理 end -->
		</ul>
	</section>
	<!-- /.sidebar -->
</aside>