<!DOCTYPE html>
<html>
	<head>
		{% include "../globel/head.html" ignore missing %}
		{% block css %}{% endblock %}
		{% if (Tests) %}
		<link rel="stylesheet" href="/vendor/mocha.css">
		{% endif %}
	</head>
	<body>
		<section>
			<!-- left-side start -->
			{% include "../globel/left-side.html" ignore missing %}
			<!-- left-side end -->

			<!-- main-content start -->
			<div class="main-content">
				<!-- header-nav start -->
				{% include "../globel/header-nav.html" ignore missing %}
				<!-- header-nav end -->

				<!-- header-sub start -->
				{% block header-sub %}{% endblock %}
				<!-- header-sub end -->

				<!-- wrapper start -->
				<div class="wrapper">
					{% block body %}{% endblock %}
				</div>
				<!-- wrapper end -->

				<!-- footer start -->
				<!-- {% include "../globel/footer.html" ignore missing %} -->
				<!-- footer end -->

			</div>
			<!-- main-content end -->

		</section>
		{% include "../globel/script.html" ignore missing %}
		{% block js %}{% endblock %}
		{% if (Tests) %}
		<div id="mocha"></div>
		<script src="/vendor/mocha.js"></script>
		<script src="/vendor/chai.js"></script>
		<script>
			mocha.setup({
				ui: 'bdd',
				timeout: 10000
			});
			var assert = chai.assert;
			var expect = chai.expect;
		</script>
		<script src="/QA/test.js"></script>
		{% if (contentTestScript) %}
		<script src="{{contentTestScript}}"></script>
		{% endif %}
		{% if (pageTestScript) %}
		<script src="{{pageTestScript}}"></script>
		{% endif %}
		<script>mocha.run();</script>
		{% endif %}
	</body>
</html>