{% extends '../layout/layout.html' %}

{% block body %}
<!-- CRM -->
<form id="clueAdd" method="" role="">
	<div class="form-body">	
		<div class="form-horizontal">
			<!-- 输入联系电话 -->
			<div class="form-group static" >
				<label class="control-label col-md-2"><b class="icon-must">·</b>联系电话：</label>
				<div class="col-md-9">
					<input class="form-control form-control-m" maxlength="20" type="text" placeholder="请输入正确的电话号码" name="contactTelXS">
				</div>
			</div>
			<div class="form-group noStatic" style="display: none">
				<label class="control-label col-md-2"><b class="icon-must">·</b>联系电话：</label>
				<div class="col-md-9">
					<input class="form-control form-control-m" maxlength="20" type="text" placeholder="请输入正确的电话号码" name="contactTelXSUpdate">
				</div>
			</div>
			<!-- 输入联系人名称 -->
			<div class="form-group">
				<label class="control-label col-md-2"><b class="icon-must">·</b>联系人：</label>
				<div class="col-md-9">
					<input class="form-control form-control-m" maxlength="10" type="text" placeholder="请输入10字以内的联系人姓名" name="contactName">
				</div>
			</div>		
			<!-- 输入联系人性别 -->
			<div class="form-group">
				<label class="control-label col-md-2">性别：</label>
				<div class="col-md-9">
					<div class="icheck vertical">
						<div class="single-row">
							<div class="radio">
								<label>
									<input type="radio" name="gender" value="1" checked>男
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="gender" value="2" >女
								</label>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<!-- 输入QQ -->
			<div class="form-group">
				<label class="control-label col-md-2">QQ：</label>
				<div class="col-md-9">
					<input class="form-control form-control-m" maxlength="20" type="text" placeholder="请输入正确的QQ" name="contactQQ">
				</div>
			</div>
			<!-- 邮箱： -->
			<div class="form-group">
				<label class="control-label col-md-2">邮箱：</label>
				<div class="col-md-9">
					<input class="form-control form-control-m" maxlength="30" type="text" placeholder="请输入正确的邮箱" name="Email">
				</div>
			</div>
			<!-- 输入联系人名称 -->
			<div class="form-group">
				<label class="control-label col-md-2">座机：</label>
				<div class="col-md-9">
					<input class="form-control form-control-m" maxlength="20" type="text" placeholder="请输入正确的座机号码021-12345678" name="fixedTel">
				</div>
			</div>
			<!-- 地址 -->
			<div class="form-group">
				<label class="control-label col-md-2">地址：</label>
				<div class="col-md-2">
					<select class="form-control" name="province"></select>
				</div>
				<label style="margin-top: 9px;float: left;">省</label>
				
				<div class="col-md-2">
					<select class="form-control" name="city"></select>
				</div>
				<label style="margin-top: 9px;float: left;">市</label>
				
				<div class="col-md-2">
					<select class="form-control" name="area">
					</select>
				</div>
				<label style="margin-top: 9px;float: left;">区</label>
				<div class="col-md-3">
					<input class="form-control" maxlength="30" type="text" name="address">
				</div>
			</div>
			<!-- 输入客户名称 -->
			<div class="form-group static">
				<label class="control-label col-md-2">客户名称：</label>
				<div class="col-md-9">
					<input class="form-control form-control-m" maxlength="30" type="text" placeholder="请输入30字以内的客户名称" name="clientNameXS">
				</div>
			</div>
			<div class="form-group noStatic ableEdit" style="display: none">
				<label class="control-label col-md-2">客户名称：</label>
				<div class="col-md-9">
					<input class="form-control form-control-m" maxlength="20" type="text" placeholder="请输入20字以内的客户名称" name="clientNameXSUpdate" data-code="" >
				</div>
			</div>
			<!-- 行业 -->
			<div class="form-group">
				<label class="control-label col-md-2">一级行业：</label>
				<div class="col-md-9">
				<select class="form-control form-control-m" name="industryOne"></select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">二级行业：</label>
				<div class="col-md-9">
				<select class="form-control form-control-m" name="industryTwo"></select>
				</div>
			</div>
			<!-- 加急 -->
			<div class="form-group">
				<label class="control-label col-md-2">加急：</label>
				<div class="col-md-9">
					<div class="icheck vertical">
						<div class="single-row">
							<div class="radio">
								<label>
									<input type="radio" name="emergence" value="1" checked>是
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="emergence" value="0" >否
								</label>
							</div>
						</div>
					</div>	
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">意向产品：</label>
				<div class="col-md-9">
					<div class="icheck">
						<div class="single-row">
							<div class="checkbox">
								<label>
									<input type="checkbox" name="intentPro" value="1">广点通
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="intentPro" value="2">朋友圈
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="intentPro" value="3">公众号
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="intentPro" value="4">盟聚广告
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" name="intentPro" value="5">其他
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- 分配至 -->
			<div class="form-group">
				<label class="control-label col-md-2">分配至：</label>
				<div class="col-md-9">
				<select class="form-control form-control-m" name="distractTo">
					<option value="">请选择</option>
				</select>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2">备注：</label>
				<div class="col-md-9">
					<textarea rows="3" class="form-control form-control-l" maxlength="100" placeholder="请输入100字以内的备注" name="describe"></textarea>
				</div>
			</div>
		</div>
		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-md-10 col-md-offset-2 btn-ctrl">
					<input class="btn btn-info btn-lg" type="submit" value="保存并新建">
					<a class="btn btn-default btn-lg" onclick="history.back()">取消</a>
				</div>
			</div>
		</div>
	</div>
</form>

{% endblock %}

{% block css %}
<!-- <link rel="stylesheet" type="text/css" href="/css/index.css"> -->
{% endblock %}

{% block js %}
<script src="/js/lib/valid.js"></script>
<script src="/js/clue/add.js"></script>

{% endblock %}